{% extends 'base.html' %}

{% block content %}

<main class="main">
    <div class="main_text">
        <!-- Header Section
        <header class="row">
            <div class="col-12 col-md-6" id="header-text">
                <h2>Let's build the future of hero collecting together!</h2>
                <h5>Create an amazing API tool for hero collecting developers.</h5>
                <div>
                    <button class="btn btn-primary">View Our Docs</button>
                    <button class="btn btn-primary">Join Our Slack</button>
                </div>
            </div>
            Header Image
            <div class="col-12 col-md-6">
                <img class="header-image" src="../../static/images/marvel server.svg" alt="Hero Header Image">
            </div>
        </header>
        End of Header Section

        Start Middle Section
        <section class="row">
            <div class="col-12" id="middle-text">
                <h2>Display Your Collection!</h2>
                <p>You can harness the power of an API to expand your collection!</p>
            </div>
        </section>
        End of Middle Section

        Collection of Features Section
        <section class="row" id="features-section">
            <div class="col-12 col-md-4">
                <img src="../../static/images/marvel api.png" alt="API Image" id="api-image">
                <h4>Dedicated API Routes</h4>
                <p>
                    If you are a fan of using traditional API routes, we have those for you!
                </p>
            </div>

            <div class="col-12 col-md-4">
                <img src="../../static/images/marvel_graphql.png" alt="graphql-image" id="graphql-image">
                <h4>GraphQL API Route</h4>
                <p>
                    If you want ALL data from one endpoint, we have that too!
                </p>
            </div>

            <div class="col-12 col-md-4">
                <img src="../../static/images/marvel_db.png" alt="database-image" id="database-image">
                <h4>Backed By a PostgreSQL Database</h4>
                <p>
                    All data will be persisted inside of a secure Postgres Database.
                </p>
            </div>
        </section>
        End of Collection Features

        <section class="row">
            <div class="col-12 col-md-6">
                <img src="../../static/images/marvel collab.png" alt="Hero Image" id="Hero-image">
            </div>

            <div class="col-12 col-md-6">
                <h4>Talk with like minded hero collectors</h4>
                <p>
                    Talk with other devs around the world and collab
                    on projects with you data. Join our slack channel and give
                    a star to the project on Github!
                </p>
                <div>
                    <button class="btn btn-primary">View On Github</button>
                    <button class="btn btn-primary">Join Our Slack Channel!</button>
                </div>
            </div>
        </section>
        End of Community Section

        Start of Footer
        <footer class="row" id="footer">
            <div class="col-2 col-md-2">
                <img src="../../static/images/marvel_logo.png" alt="marvel logo" id="footer-logo">
            </div>

            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p>Why Marvel Heros?</p>
                    <p>The Marvel Hero Project</p>
                    <p>Donate</p>
                    <p>Spread The Word</p>
                    <p>Our Process</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p>Why Marvel Heros?</p>
                    <p>The Marvel Hero Project</p>
                    <p>Donate</p>
                    <p>Spread The Word</p>
                    <p>Our Process</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p>Why Marvel Heros?</p>
                    <p>The Marvel Hero Project</p>
                    <p>Donate</p>
                    <p>Spread The Word</p>
                    <p>Our Process</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p>Why Marvel Heros?</p>
                    <p>The Marvel Hero Project</p>
                    <p>Donate</p>
                    <p>Spread The Word</p>
                    <p>Our Process</p>
                </div>
            </div>

            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Platform</h4>
                    <p>Why Marvel Heros?</p>
                    <p>The Marvel Hero Project</p>
                    <p>Donate</p>
                    <p>Spread The Word</p>
                    <p>Our Process</p>
                </div>
            </div>
        </footer>-->
        <h1>Recipe Nutrition</h1>
        <p>Get the most out of calorie counting!</p>
        <a href="{{ url_for('site.recipes') }}" class="my_button">Look at some recipes</a>
    </div>
</main>
{% endblock content %}